<div class="p-3 text-center bg-white border-bottom">
    <div class="container">
        <div class="row">
            <!-- Left elements -->
            <div class="col-md-4 d-flex justify-content-center justify-content-md-start mb-3 mb-md-0">
                <a href="#" class="ms-md-2">
                    <img src="assets/logo.png" height="40" />
                </a>
            </div>
            <!-- Left elements -->

            <!-- Center elements -->
            <div class="col-md-4">
                <form class="d-flex input-group w-auto my-auto mb-3 mb-md-0">
                    <input type="search" name="name" class="form-control rounded" placeholder="Search" />
                    <span class="input-group-text border-0 d-none d-lg-flex"><i class="fas fa-search"></i></span>
                </form>
            </div>
            <!-- Center elements -->

            <!-- Right elements -->
            <div class="col-md-4 d-flex justify-content-center justify-content-md-end align-items-center">
                <div class="d-flex">
                    <!-- Cart -->
                    <a class="text-reset me-3" href="#">
                        <span><i class="fas fa-shopping-cart"></i></span>
                        <span class="badge rounded-pill badge-notification bg-danger"></span>
                    </a>

                    <!-- User -->
                    <a href="#" class="text-reset text-uppercase" data-bs-toggle="modal" data-bs-target="#ModalForm">
                        <i class="fa-solid fa-circle-user"></i> Login
                    </a>
                    <!-- <div class="dropdown">
                        <a class="text-reset dropdown-toggle d-flex align-items-center hidden-arrow" href="#"
                            id="navbarDropdownMenuLink" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
                            <img src="https://mdbootstrap.com/img/Photos/Avatars/img (31).jpg" class="rounded-circle"
                                height="22" alt="" loading="lazy" />
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                            <li>
                                <a class="dropdown-item" th:href="@{/profile}">My profile</a>
                            </li>
                            <li>
                                <a class="dropdown-item text-primary" th:href="@{/admin}"
                                    sec:authorize="hasAuthority('ADMIN')">
                                    Quản lý
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item link-danger" th:href="@{/logout}">Logout</a>
                            </li>
                        </ul>
                    </div> -->
                </div>
            </div>
            <!-- Right elements -->
        </div>
    </div>
</div>